html
  head
    link(rel='stylesheet', href='/style/panelDispositivos.css')
    script(src='metodos.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script.
      window.addEventListener("click", validarToken);
  body(onload='validarToken();')
    table
      thead
        tr
          th(colspan='2') Dispositivo: !{dispositivo.id}
      tbody
        tr
          td Tipo de dispositivo
        
          td
            select(id="tiposDispositivos", name="Tipos de Dispositivos")
              each tipo in tipos
                if (dispositivo.tipo == tipo)
                  option(value=tipo selected="selected") #{tipo}
                else
                  option(value=tipo) #{tipo} 
        tr
          td Ubicacion
        
          td 
            input(type="text", name="ubicacion", id="ubicacion", value=dispositivo.ubicacion)
        tr
          td(colspan='2')
            button(onclick="modificarDispositivo('"+dispositivo.id+"');") Aceptar 
            button(onclick="regresar('_panelDispositivos');") Cancelar
        